<p>新着順表示</p>
<p>高評価順表示</p>

<%= form_with url: search_games_path, method: :get, local: true do |f| %>
<%= f.text_field :q, placeholder: "検索したいワードを入力", value: "" %>
<%= f.submit "検索", name: nil %>
<i class="fa fa-search"></i>
<% end %>
