<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'leftbar' %>
    </div>
    <div class="col-9">
      <h4><strong>記事一覧全<%= @games.count %>件</strong></h4>
      <%= render 'index' %>
    </div>
  </div>
</div>