// Place all the styles related to the public/games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 親にrelative 中にabsoluteを設定して２つの星を重ねている。
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
// overflow: hidden;で指定の幅からはみ出した部分を隠している。
// widthが足りない時に、折り返さないようにする。
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}