<div class="container">
  <div class="row">
    <div class="col-md-12 my-5 h4 justify-content-md-center text-center">
      <p>
        <h2><strong>About</strong></h2>
        レビューゲームズはゲーム好きの為のサイトです。<br>
        好きなゲームの感想をレビューにして共有したり、<br>
        他のゲーム好きのレビューを見ることで、<br>
        新たなゲームに出会えるよう場になれればと思っています。<br>
        レビューやコメントをしてあなたの感想を教えてください！
      </p>
    </div>
  </div>
</div>