<div class="container">
  <div class="row">
    <div class="col-md-12 my-5 h4 justify-content-md-center text-center">
      <p>
        レビューゲームズへようこそ！<br>
        このサイトはゲームをレビューし、感想を共有するサイトです。<br>
        会員登録をしなくても閲覧は可能ですが、<br>
        登録をする事でレビューやコメントをする事ができます！
      </p>
    </div>
  </div>
</div>