<h1>Admin::Games#show</h1>
<p>Find me in app/views/admin/games/show.html.erb</p>
<%= @games.each do |game| %>
<!--ご自身が表示させたいデータを記載してください。-->
<!--以下のコードではは画像、タイトル、著者名、商品の説明を表示させています。-->
<div style="flex-direction: row;">
<div class="book_date">
<%= link_to game.title,admin_game_path(game.introduction) %><br>
</div>
</div>
<!--<%#= book.item_caption %>  -->
<% end %>
