<h4><strong>レビュー履歴一覧</strong></h4>
 <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ゲームタイトル</th><th>タイトル</th><th>内容</th><th>点数</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                   <!--ゲームのタイトル-->
                <td><%= link_to review.game.title, game_path(review) %></td>
                <td><%= review.review_title %></td>
                <td><%= review.review_comment %></td>
                   <!--レビューの星-->
                <td class="star">
                  <!--rateの得点の数だけfor文で★を表示-->
                  <% if review.rate? %>
                    <% for i in 1..review.rate do %>
                      ★
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>