<h3><strong>レビュー履歴一覧</strong></h3>
 <% @reviews.each do |review| %>
   <!--ゲームのタイトル-->
   <%= game.title %>
   <!--レビューのタイトル-->
    <%= review.review_title %>
   <!--レビューの星-->
    <%= review.rate %>
 <% end %>